{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Trickatcher Login{% endblock %}
{% block subtitle %}Lembra-se da Password?{% endblock %}

{% block main_body %}
        {% if registered %}
        <strong>Já está Logged in.</strong>
        <div class="form-group tri_button_zone"> 
            <a class="btn btn-primary" href={{ page.url }}"/">Return to the homepage.</a>
        </div>
        {% else %}
        
        <div class="col-md-4">
        </div>
        <div class="col-md-4" style="  padding-left: 90px; padding-top: 80px; background-color: #EEE;">
            <form id="login_form" method="post" action="/login/">
                {% csrf_token %}
                <p>Username: </p>
                <input type="text" name="username" value="" size="25" />
                <br />
                <br />
                <p>Password: </p>
                <input type="password" name="password" value="" size="25" />
                <br />


            <div style="padding-top: 40px; padding-bottom: 40px" class="form-group "> 
                <input class="btn btn-success" type="submit" name="submit" value="Login" />
                <a style="padding-right: 40px"></a>
                <a class="btn btn-primary" href={{ page.url }}"/">Go Back</a>
            </div>
            </form>
        </div>
        <div class="row">
            <div style="padding-top: 80px;" class="col-md-12"> 
            </div>
        </div>    
        {% endif %}
{% endblock %}        
    </body>
</html>